{% extends 'base.html.twig' %}

{% block title %}Ask a Question{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2">
            {{ form(questionForm) }}
        </div>
    </div>
{% endblock %}
